@import 'normalize';
@import 'var';
@import 'mixins';
@import 'header';
@import 'navigation';
@import 'main_content';
@import 'footer';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto; 
    margin-bottom: -35px;
}

.content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

 .push, footer {
    height: 35px;
 }

 p{
    margin: 0; 
 }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h4 {
    margin: 5px 0;
}

@media (max-width: 575px) {
    .button,
    #user {
        display: none;
    }
    .button + label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 41px;
    }

    .nav-wrapper> ul {
        display: none;
    }

    .navigation .menu-btn {
        display: block;
    }

    .navigation .burger-menu:target {
        display: block;
        & li,
        & ul {
            display: block;
        }
        & + a {
            display: none;
        }
    }

    .nav-wrapper {
        justify-content: flex-end;
        flex: 1;
        padding-right: 20px;
    }

    
}
